.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  gap: 6px;
  &__buttons {
    border-radius: 18px;
    border: 2px solid #17A6DB;
    background-color: #000080;
    color: #17A6DB;
    width: 4%;
    height: 30px;
  }
}