.input-search {
  border-radius: 8px;
  width: 94%;
  height: 40px;
  outline: none;
}
.ant-input {
  color: #181645;
  font-weight: bold;
  height: 30px;
}
.ant-input-search {
  border: 4px solid #034078;
  height: 48px;
}
.ant-btn {
  height: 48px;
}
.ant-input-search .ant-input-search-button {
  height: 40px;
}