.home {
  height: 100px;
  margin: 0px;
  background-color: #181645;
  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 230px;
  }
  &__title {
    height: 160px;
  }
  &__favorites {
    display: flex;
    justify-content: flex-start;
  }
  h1 {
    height: 26px;
    margin: 0;
  }
  &__agg {
    height: 26px;
    margin: 8px;
    border-radius: 20px;
  }
}